{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

   {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
      {% if errors %}
        {{ govukErrorSummary(errors) }}
      {% endif %}


      <form id="itembox" action="" method="POST" name="search-form" value="search">
       

         <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{params.text1}}</h1>

   <p class="govuk-body govuk-hint">{{params.text2}}</p>
                {{ govukInput({
    label: {
      text: params.text3,      
      isPageHeading: true
    },
    id: "event-name",
    name: "eventName"
  }) }}
        
             
           
        
    

        
         {{ govukRadios({
          name: "locationMiles",
          fieldset: {
            legend: {
              text: params.text4,
              isPageHeading: true
             
            }
          },
          items: [
            {
              value: "uk-location",
              text: params.text5
          
            
            },
            {
              value: "ni-location",
              text: params.text6
              
            },
            {
              value: "ni-location",
              text: params.text7
              
            }
            
          ],
          errorMessage: errorMessage
        }) }} 

        {{ govukButton({
  text: button
}) }}

        {# <input type="hidden" name="aq" value="{{ airQuality.value }}" /> #}
      </form>
    </div>
  </div>
{% endblock %}