{% extends 'layouts/page.njk' %}
{% set displayBreadcrumbs = false %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{stationdetails.name}}</h1>   
          <strong class="govuk-tag govuk-tag--green" style="margin-top: 0px; padding: 6px 12px 6px 12px;">
            Active
          </strong>
          <p class="govuk-body govuk-!-margin-top-3" style="margin-left: 5px; display: inline-block; color: #505a5f;">Latest at 11:00am on 25 November 2024</p>
</div>
</div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
          <dl class="defra-aq-features__list govuk-!-margin-top-3" style="gap: 40px; padding-bottom: 0px;">
          <div class="govuk-grid-column-one-third">
            <dt class="govuk-caption-m" style="font-size: 19px;">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;margin-left: 0px">{{stationdetails.siteType}}</dd>
  </div>
            
              
            <div class="govuk-grid-column-one-third">
   <dt class="govuk-caption-m" style="font-size: 19px;">Region</dt>
    <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;margin-left: 0px">{{stationdetails.region}}</dd>
  </div>

                  <div class="govuk-grid-column-one-third">
                <dt class="govuk-caption-m" style="font-size: 19px;">Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" style="margin-top: 5px; font-size: 22px;margin-left: 0px">{{stationdetails.siteType}}</dd>
              <p class="govuk-body govuk-!-margin-top-1"><a href={{maplocation}} class="govuk-link" target="_blank" >View on Google Maps (opens in a new tab)</a></p>
  </div>
                  
                </dd>
             
            </div>
            </div>
            </div>
            </dl>

 


            
             

        

       

{% endblock %}
